*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    /* font-family: "Raleway",sans-serif; */
    background-color:rgb(248, 228, 228);
    
}

.container{
    background-image: url('./wedding_couple.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
     flex-direction: column;
     align-items: center;
     font-size: 15px;    

}
.para1{
    color: white;
    font-size: 4em;
    padding:10px;    
} 
.para2{
    color: white;
    font-size:2rem;
    line-height: 10vh;
}
.para3{
    color: white;
    font-size: 2rem;
}
.para4{
    margin-top: 2%;
    text-align: center;
    font-size: 2rem;
    opacity: 0.5;
    font-weight: 400;
}
.image1{
    width:70%;
    margin-left:15%;
    height: 70vh;
    margin-top: 2%;
}
.para5{
    margin-top: 2%;
    width:70%;
    margin-left:15%;
    line-height: 5vh;
    color: rgb(27, 27, 27);
    font-style: oblique;
}
.a1{
    padding: 15px 20px;
    display: block;
    background-color: black;
    width:fit-content;
    color: white;
    font-size: 1rem;
    margin-top: 3%;
    margin-left: 45%;
    text-decoration: none;
}
.a1:hover{
  background-color: rgb(209, 206, 206);
}
.a1:active{
    background-color:rgb(180, 179, 179) ;
}
.container1{
    background-image: url('./background.jpg');
    min-height: 70%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    margin-top: 5vh;
}
.para6{
 font-size: 3rem;
 color: rgb(63, 2, 63);
 line-height: 25vh;
}
.para7{
    font-size:2rem;
    color: rgb(63, 2, 63);
}
.para8{
    margin-top: 3%;
    text-align: center;
    font-size: 2rem;
    opacity: 0.5;
    font-weight: 400;
}
.image2{
    width:70%;
    margin-left:15%;
    height: 70vh;
    margin-top: 4%;
}
.container2{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    
}
.para9{
    line-height: 5vh;
   
}
.para10{
    line-height: 5vh;
    margin-left: 15%;
    
}
.italic{
    font-size:3vh;
    margin-left: 25%
}
.container3{
    background-color: rgb(250, 189, 189);
    text-align: center;
    height: 35%;
}
.para11{
    margin-top: 8vh;
    font-size: 2rem;
    padding-top: 40px;

}
.para12{
    font-size:3vh;
    font-style: oblique;
    line-height: 10vh;
}
/* .a2{
    line-height: 15vh;
    background-color: rgb(248, 127, 127);
    padding: 10px 35px;
    color: rgb(253, 246, 246);
    font-size: 4vh;
    border: 1px solid black;
} */
.container4{
    background-color: black;
    height: 10%;

}
.para13{
    color: white;
    text-align: center;
    padding:20px;
}
.a3{
    text-decoration: none;
    color: white;
}
nav{
    width:100%;
    background-color: white;
    position: fixed;
    z-index:+10;
    bottom:0;
    opacity: 0.8;
}
.container5{
    display: flex;
    justify-content:space-around;
   
    
}
.a4{
    
    color: black;
    text-decoration: none;
    padding: 10px 90px;
}
.a4:hover{
    background-color: gray;
}

#showPopup {
      display: none;
    }

    /* Button to open popup */
    label[for="showPopup"] {
      background-color:lightcoral;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    /* Popup container */
    .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      background: white;
      width: 350px;
      padding: 20px;
      display: none;
      z-index: 999;
    }

    #showPopup:checked ~ .overlay,
    #showPopup:checked ~ .popup {
      display: block;
    }
    label[for="showPopup"].close {
      display: inline-block;
      margin-top: 15px;
      color: #fff;
      background: #f44336;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
    } 
    button{
        padding:5px 10px;
    }


